<div class="row-fluid">
	<div class="span6">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption"><i class="icon-cogs"></i>Transaction Reminder</div>
			</div>
			<div class="portlet-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Invoice Number</th>
							<th>Name</th>
							<th>Total</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						<% no = 1 %>
						<% @last_transactions.each do |last_transaction| %>
							<tr>
								<td><%= no %></td>
								<td><%= link_to last_transaction.invoice_number, transaction_path(last_transaction) %></td>
								<td><%= last_transaction.to_name %></td>
								<td><%= last_transaction.total_price %></td>
								<td>
									<strong>
										<%= last_transaction.time_limit_formatted %>
									</strong>
								</td>
							</tr>
							<% no = no+1 %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>
<% content_for(:title) do %>
	<%= @title %>
<% end %>