<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<%= simple_form_for :admin_user, url: login_home_index_path, html: { class: "form-vertical login-form" } do |f| %>
	<form class="" action="index.html" method="post">
		<h3 class="form-title">Login to your account</h3>
		<%= render 'layouts/shared/notifications' %>
		<div class="alert alert-error hide">
			<button class="close" data-dismiss="alert"></button>
			<span>Enter any username/email and password.</span>
		</div>
		<%= f.input :username, as: :login_username, wrapper: "login_username",
			input_html: { class: "m-wrap placeholder-no-fix", autocomplete: "off", placeholder: "Username / email" }, 
			label: false, 
			label_html: {class: "control-label visible-ie8 visible-ie9"}
		%>
		<%= f.input :password, as: :login_password, wrapper: "login_password",
			input_html: { class: "m-wrap placeholder-no-fix", autocomplete: "off", placeholder: "Password" }, 
			label: false, 
			label_html: {class: "control-label visible-ie8 visible-ie9"}
		%>
		<div class="form-actions">
			<button type="submit" class="btn green pull-right">
			Login <i class="m-icon-swapright m-icon-white"></i>
			</button>            
		</div>
		<div class="forget-password">
			<h4>Forgot your password ?</h4>
			<p>
				no worries, click <a href="javascript:;"  id="forget-password">here</a>
				to reset your password.
			</p>
		</div>
	<% end %>
	<!-- END LOGIN FORM -->        
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="form-vertical forget-form" action="index.html" method="post">
		<h3 >Forget Password ?</h3>
		<p>Enter your e-mail address below to reset your password.</p>
		<div class="control-group">
			<div class="controls">
				<div class="input-icon left">
					<i class="icon-envelope"></i>
					<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn">
			<i class="m-icon-swapleft"></i> Back
			</button>
			<button type="submit" class="btn green pull-right">
			Submit <i class="m-icon-swapright m-icon-white"></i>
			</button>            
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<%= content_for(:assets) do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<%= content_for(:title) do %>
	<%= @title %>
<% end %>