<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="icon-edit"></i><%= @title %></div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="btn-group">
						<%= link_to new_city_path, class: "btn green"  do %>
							Add New <i class="icon-plus"></i>
						<% end %>
					</div>
				</div>
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
						<tr>
							<th>Name</th>
							<th>Airport</th>
							<th>Code</th>
							<th>Country</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<% @cities.each do |city| %>
							<tr>
								<td data-title="Name"><%= city.name %></td>
								<td data-title="Airport"><%= city.airport_name %></td>
								<td data-title="Code"><%= city.code %></td>
								<td data-title="Country"><%= city.country %></td>
								<td data-title="Actions">
									<%= link_to edit_city_path(city), class: "btn mini purple" do %>
										Edit <i class="icon-edit"></i>
									<% end %>
									<%= link_to city_path(city), class: "btn mini black", method: :delete, confirm: "Are you sure?" do %>
										Delete <i class="icon-trash"></i>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END SAMPLE TABLE PORTLET-->
<% content_for(:title) do %>
	<%= @title %>
<% end %>

<%= content_for(:data_table_js) do %>
	<%= javascript_include_tag "datatable" %>
<% end %>

<%= content_for(:data_table_style) do %>
	<%= stylesheet_link_tag "datatable" %>
<% end %>

<%= content_for(:data_table_config) do %>
	<%= "TableEditable.init();" %>
<% end %>