<%= simple_nested_form_for @transaction, html: {class: "form-horizontal"} do |f| %>
	<h3 class="form-section">Passenger Details</h3>
	<%= f.simple_fields_for :paxes do |pax_form| %>
		<div class="row-fluid">
			<div class="span12">
				<%= pax_form.input :title, as: :select, collection: ["Mr", "Mrs", "Ms", "Child", "Infant"], input_html: {class: "chosen m-wrap span3"} %>
			</div>
		</div>
		<div>
		<div class="row-fluid">
			<div class="span4">
		  	<%= pax_form.input :first_name, input_html: {class: "m-wrap span12"} %>
			</div>
			<div class="span4">
				<%= pax_form.input :middle_name, input_html: {class: "m-wrap span12"} %>
			</div>
			<div class="span4">
		  	<%= pax_form.input :last_name, input_html: {class: "m-wrap span12"} %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<%= pax_form.input :route, as: :radio_buttons, collection: ["One way", "Return"], checked: "One way", input_html: {class: "m-wrap span12"} %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<%= pax_form.association :departure, label: "Origin", input_html: {class: "m-wrap span12 chosen"} %>
			</div>
			<div class="span6">
				<%= pax_form.association :arrival, label: "Destination", input_html: {class: "m-wrap span12 chosen"} %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<%= pax_form.input :departure_date, wrapper_html: {class: "date input-append date-picker", :"data-date-format" => "yyyy-mm-dd", :"data-date-viewmode" => "years"}, wrapper: :append do %>
					<%= pax_form.input_field :departure_date, label: "Due Date", as: :string, class: "m-wrap span12 date-picker", size: 12  %>
					<span class="add-on"><i class="icon-calendar"></i></span>
				<% end %>
			</div>
			<div class="span6">
				<%= pax_form.input :arrival_date, wrapper_html: {class: "date input-append date-picker", :"data-date-format" => "yyyy-mm-dd", :"data-date-viewmode" => "years"}, wrapper: :append do %>
					<%= pax_form.input_field :arrival_date, label: "Due Date", as: :string, class: "m-wrap span12 date-picker", size: 15  %>
					<span class="add-on"><i class="icon-calendar"></i></span>
				<% end %>
			</div>
			<div class="row-fluid">
				<div class="span6">
			 		<%= pax_form.input :flight_number, label: "Flight Number", input_html: {class: "m-wrap span12"} %>
			 	</div>
				<div class="span6">
		 	 		<%= pax_form.association :airline, input_html: {class: "m-wrap span12 chosen"} %> 
		 		</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<%= f.input :booking_code, as: :string, label: "Book Reference", input_html: {class: "m-wrap span12"} %>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<%= f.input :publish_fare, as: :string, label: "Total Price", input_html: {class: "m-wrap span12"} %>
				</div>
			</div>
		 <div class="row-fluid">
		 	<div class="span12">
		 		<div class="control-group">
		 			<div class="controls">
		  			<%= pax_form.link_to_remove "<i class='icon icon-trash'></i>Remove this pax".html_safe, class: "btn mini red" %>
		  		</div>
		  	</div>
		 	</div>
		</div>
	<% end %>
	<p><%= f.link_to_add "<i class='icon icon-plus'></i>Add a pax".html_safe, :paxes, class: "btn mini green" %></p>
	<h3 class="form-section">Booking Information</h3>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :to_name, label: "To", input_html: { class: "m-wrap span12" } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :email, input_html: { class: "m-wrap span12" } %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<%= f.input :company %>
		</div>
		<div class="span4">
			<%= f.input :personal, label: false, inline_label: "Personal" %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :address, input_html: {rows: "3", class: "span12"} %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :issued_date, label: "Booking Date", wrapper_html: {class: "date input-append date-picker", :"data-date-format" => "yyyy-mm-dd", :"data-date-viewmode" => "years"}, wrapper: :append do %>
				<%= f.input_field :issued_date, label: "Booking Date", as: :string, class: "m-wrap span12 date-picker", size: 15  %>
				<span class="add-on"><i class="icon-calendar"></i></span>
			<% end %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<%= f.input :time_limit, label: "Due Date", wrapper_html: {class: "date input-append date-picker", :"data-date-format" => "yyyy-mm-dd", :"data-date-viewmode" => "years"}, wrapper: :append do %>
				<%= f.input_field :time_limit, label: "Due Date", as: :string, class: "m-wrap span12 date-picker", size: 15  %>
				<span class="add-on"><i class="icon-calendar"></i></span>
			<% end %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.button :submit, "Submit", class: "btn blue" %>
	</div>
	<!--/row-->
<% end %>
<!-- END FORM-->
