<%= simple_form_for @transaction, html: { class: "form-horizontal"} do |f| %>
	<%= f.association :customer %>
	<%= f.input :event_name, input_html: { class: "span6 m-wrap" } %>
	<%= f.input :route, as: :radio_buttons, collection: [["One way", "one way"], ["Round Trip", "round trip"]] %>	
	<%= f.association :departure %>
	<%= f.association :arrival %>
	<%= f.input :booking_code, input_html: { class: "span3 m-wrap" } %>	
	<%= f.association :airline %>
	<%= f.input :issued_date, input_html: { class: "span2 m-wrap" } %>
	<%= f.input :time_limit, input_html: { class: "span2 m-wrap" } %>
	<%= f.input :nett_to_agent, as: :string, input_html: { class: "span3 m-wrap" } %>	
	<%= f.input :publish_fare, as: :string, input_html: { class: "span3 m-wrap" } %>	
	<div class="form-actions">
		<%= f.button :submit, "Submit", class: "btn blue" %>
	</div>
<% end %>