<%= simple_nested_form_for @transaction, html: {class: "form-horizontal"} do |f| %>
	<div class="row-fluid">
		<div class="span4 ">
			<%= f.input :transaction_type, as: :radio_buttons, collection: [["Personal", "personal"], ["Corporate", "corporate"]] %>
			<%= f.input :company, input_html: {class: "m-wrap span12"} %>
			<%= f.input :customer_id, as: :string, label: "PIC", input_html: {class: "m-wrap span12"} %>
			<%= f.input :event_name, as: :string, input_html: {class: "m-wrap span12"} %>
		</div>
		<div class="span4 ">
			<%= f.input :booking_code, input_html: {class: "m-wrap span12"} %>
			<%= f.input :issued_date, wrapper_html: {class: "date input-append date-picker", :"data-date-format" => "yyyy-mm-dd", :"data-date-viewmode" => "years"}, wrapper: :append do %>
				<%= f.input_field :time_limit, label: "Due Date", as: :string, class: "m-wrap span12 date-picker", size: 12  %>
				<span class="add-on"><i class="icon-calendar"></i></span>
			<% end %>
		</div>
		<div class="span4 ">
			<%= f.input :flight_code, input_html: { class: "m-wrap span12" } %>
			<%= f.input :total_price, as: :string, label: "Total Price", input_html: {class: "m-wrap span12"} %>
		</div>
	</div>
	<h3>Pax detail</h3>
	<%= f.simple_fields_for :paxes do |pax_form| %>
		<%= pax_form.input :title, as: :select, collection: ["Mr", "Mrs", "Ms"] %>
	  <%= pax_form.input :first_name %>
	  <%= pax_form.input :last_name %>
	  <%= pax_form.input :phone %>
	  <%= pax_form.input :route, as: :radio_buttons, collection: ["One way", "Return"] %>
	  <%= pax_form.association :airline %>
	  <%= pax_form.input :departure_date %>
	  <%= pax_form.input :arrival_date %>
	  <%= pax_form.association :departure %>
	  <%= pax_form.association :arrival %>
	  <%= pax_form.input :id_number, label: "Passport Number" %>
	  <%= f.input :nett_to_agent, as: :string, label: "Price" %>
	  <%= f.input :publish_fare, as: :string, label: "Price Publish" %>
	  <%= pax_form.link_to_remove "Remove this pax" %>
	<% end %>
	<p><%= f.link_to_add "Add a pax", :paxes %></p>
	<div class="form-actions">
		<%= f.button :submit, "Submit", class: "btn blue" %>
	</div>
	<!--/row-->
<% end %>
<!-- END FORM-->
