<div class="portlet box yellow">
	<div class="portlet-title">
		<div class="caption"><i class="icon-reorder"></i><%= @title %></div>
		<div class="tools">
			<a href="javascript:;" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body form">
		<%= render 'form' %>
	</div>
</div>
<% content_for(:form_assets) do %>
	<%= stylesheet_link_tag "form" %>
<% end %>

<% content_for(:form_js) do %>
	<%= javascript_include_tag "form" %>
<% end %>

<% content_for(:form_script) do %>
	<%= "FormComponents.init();" %>
<% end %>