<div class="navbar hor-menu hidden-phone hidden-tablet">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="visible-phone visible-tablet">
				<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
				<form class="sidebar-search">
					<div class="input-box">
						<a href="javascript:;" class="remove"></a>
						<input type="text" placeholder="Search..." />            
						<input type="button" class="submit" value=" " />
					</div>
				</form>
				<!-- END RESPONSIVE QUICK SEARCH FORM -->
			</li>
			<li <%= 'class=active' if controller.controller_name == "dashboard" %>>
				<%= link_to dashboard_index_path do %>
					Dashboard
					<%= raw '<span class="selected"></span>' if controller.controller_name == "dashboard" %>
				<% end %>
			</li>
			<li <%= "class=active" if controller.controller_name == "admin_users" %>>
				<%= link_to admin_users_path do %>
					Admin User
					<%= raw('<span class="selected"></span>') if controller.controller_name == "admin_users" %>
				<% end %>
			</li>
			<li>
				<span class="hor-menu-search-form-toggler">&nbsp;</span>
				<div class="search-form hidden-phone hidden-tablet">
					<form class="form-search">
						<div class="input-append">
							<input type="text" placeholder="Search..." class="m-wrap">
							<button type="button" class="btn"></button>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>