<!DOCTYPE html>
<head>
	<%= wicked_pdf_stylesheet_link_tag "pdf" %>
	<%= if content_for?(:invoice); yield(:invoice); end; %>	
	<%= csrf_meta_tags %>
	<title>
		TripClouds Finance App
		<%= if content_for?(:title); "| #{yield(:title)}"; end; %>
	</title>
</head>
<body class="page-header-fixed">
	<!-- <div class="page-container row-fluid" > -->
		<div class="page-content">
			<div class="container-fluid">
				<%= yield %>
			</div>
		<!-- </div>     -->
		</div>
</body>
</html>
